Package: wpad-mini
Version: 2015-03-25-1
Depends: libc, libnl-tiny, hostapd-common, libubus, libpthread
Source: package/network/services/hostapd
License: BSD-3-Clause
Section: net
Maintainer: Felix Fietkau <nbd@openwrt.org>
Architecture: ramips_24kec
Installed-Size: 246910
Description:  This package contains a minimal IEEE 802.1x/WPA Authenticator and Supplicant (WPA-PSK only).
